body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path:hover {
  fill: #182238;
}


/* .react-simple-maps geography:focus {
  outline: none;
} */

/* .react-simple-maps .rsm-geography:focus {
  outline: none !important;
} */
